!!!
%html
  %head{:lang => "en"}
    %meta{:charset => "UTF-8"}
      %title
      %script{:charset => "utf-8", :src => "js/raphael.js", :type => "text/javascript"}
      %script{:charset => "utf-8", :src => "js/raphael3d.src.js", :type => "text/javascript"}
  %body
    #rotation_x
    #rotation_y
    #distance{:style => "font-size: 48px;"}
    #canvas
    %script{:charset => "utf-8", :src => "js/render.js", :type => "text/javascript"}